includes:
    - phpstan-baseline.neon
    - ../../../cache.php
parameters:
    level: 9
    bootstrapFiles:
        - ./autoload.php
    paths:
        - ../../../src
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
